.bullet-points
{
    width: 90%;
}

.bullet-points-ul
{
    padding: 8px 3%;
}

.bullet-points-ul > li 
{
    list-style: inside;
    padding: 7px 0px;
}
.para-padding
{
    padding: 0px 10px;
}
.link-main
{
    display: flex;
    align-items: center;
}
.feat-list
{
    text-transform: uppercase;
}
.para_pad_des
{
    position: relative;
    padding: 5px 1%;
    font-weight: 600;
}
.date-portfolio
{
    padding: 0px 2px;
    font-size: 20px
}