.bullet-points
{
    width: 90%;
}

.bullet-points-ul
{
    padding: 8px 8%;
}

.bullet-points-ul > li 
{
    list-style: inside;
    padding: 7px 0px;
}
.para-padding
{
    padding: 0px 10px;
}
.link-main
{
    display: flex;
    align-items: center;
}
.feat-list
{
    text-transform: uppercase;
}