.grandparent_timelinecard {
  border: 1px solid red;
  padding: 10px;
}

.Parent_timelinecard {
  border: 1px solid red;
  padding: 10px;
}

.content_timelinecard {
  border: 1px solid red;
  padding: 10px;
  align-items: center;
}

.content_left {
  border: 1px solid red;
  padding: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.content_right {
  border: 1px solid red;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
