.main-parent-twiiter {
    position: relative;
    padding: 10px 2%;
    width: 100%;
    font-family: sans-serif;
    font-weight: 400;
}

.h__twiiter {
    font-weight: 400;
    font-size: xx-large;
}

.head__sub-parent {
    height: 100%;
    position: relative;
}

/* .head__sub-parent__span {
    position: absolute;
    content: '';
    height: 100%;
    width: 0px;
    border: solid red 1px;
} */

/* .head__sub_p::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 0px;
    border: solid red 1px;
} */

.head__sub_p {
    font-size: small;
    color: #000000bd;
    height: 100%;
    position: relative;
    padding: 11px 17px;
}

.timeline__t {
    position: absolute;
    content: '';
    margin: -1px -5px auto;
    display: flex;
    height: 86%;
    /* background: black; */
    width: 0px;
    border: solid #00000066 1px;
}

.head__span {
    position: absolute;
    content: '';
    margin: -1px -5px auto;
    display: flex;
    height: 100%;
    /* background: black; */
    width: 0px;
    border: solid #00000066 1px;
}

.grand-parent-header {
    height: 100vh;
    overflow: scroll;
    padding: 2px 24px;
}

#more {
    display: none;
}


.Thread_granparent
{
height: auto;
padding: 10px 30px;
margin: 30px;
}

.thread_parent
{
    height: auto;
    display: flex;
    gap: 10px;
}
.thread_left_main
{
       border: solid #00000075 1px;
    height: 88px;
    border-radius-left: 20px;
    top: 14px;
    /* border-left: none; */
    left: 43px;
    border-width: 11px;
    position: absolute;
    /* border-left: none; */
    border-width: 1.9px;
    border-top: none;
    border-right: none;
    /* border-radius: 19px; */
    border-radius: 0px 0px 0px 11px;
    /* border-left-style: solid; */
    width: 26px;
}