@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_grandparent_scale
{
  width: 870px;
  border: solid 1px black;
  margin: auto;
}

.thread_child_content
{
   border: solid red 1px;
    width: 15px;
    height: 34px;
    /* border-width: 2px; */
    /* border-end-start-radius: 17px; */
    position: relative;
    /* border-end-end-radius: 7px; */
    border-right: none;
    border-top: none;
    top: 23px;
    left: 0px;
    border-radius: 0px 0px 0px 10px;
}